---
import BaseLayout from "../layouts/Layout.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import type { AboutImage } from "../lib/types";

import { sanity } from "../lib/sanity";
import imageUrlBuilder from "@sanity/image-url";

const builder = imageUrlBuilder(sanity);

const urlFor = (source: any) =>
  builder.image(source).url();

// Direct GROQ query
const data = await sanity.fetch(`
  *[_type == "aboutImage"] | order(_createdAt asc){
    type,
    alt,
    image
  }
`);

const images = data.map((item : {type : string , alt : string , image : string} ) => ({
  type: item.type,
  alt: item.alt,
  src: urlFor(item.image),
}));
---

<BaseLayout title="About Aditya Soni">
  <main class="mx-auto max-w-236 px-6 pt-16 pb-24 ">

    <!-- HERO / INTRO -->
    <section class="flex flex-col gap-4 md:items-start">
      <h1 class="text-4xl heading md:text-5xl font-semibold tracking-tight">
        About Me
      </h1>

      <p class="text-lg p-4 max-w-150 para-text leading-relaxed pb-14">
        I have <strong>2+ years of experience</strong> working as a Software Engineer in a
        <strong>fast-paced startup environment</strong>.
        During this time, I’ve worked on multiple
        <strong>user-centric features</strong> using JavaScript-focused technologies.
        <br /><br />
        I took ownership of developing and maintaining features for our
        <strong>core internal product</strong> that the entire company relies on,
        while also <strong>mentoring interns</strong> and helping them grow technically.
        <br /><br />
        Beyond coding, I learned how to
        <strong>understand stakeholder perspectives</strong>,
        communicate trade-offs clearly, and help non-technical teams
        adapt to new features smoothly.
        These experiences shaped me not just as an engineer,
        but as someone who understands how software fits into real businesses.
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl md:text-3xl heading font-medium tracking-tight">
        This is me, in case someone wants to hire a model 👀
      </h2>

      <ImageCarousel
        client:load
        images={images}
      />
    </section>

    <!-- LONG FORM CONTENT -->
    <section class="max-w-3xl flex flex-col items-start">
      <h2 class="text-2xl  heading font-medium">
        More about me
      </h2>

      <p class="para-text p-4 leading-relaxed md:max-w-150">
        I didn’t graduate from an engineering college like many
        software engineers in India.
        I started learning programming during my
        <strong>second year of a Bachelor’s in Commerce</strong>.
        <br /><br />
        Instead of regretting my academic background,
        I chose to <strong>double down on my technical skills</strong> and
        problem-solving abilities.
        That effort helped me land an <strong>internship in my final year</strong>,
        which later converted into a full-time role.
        I’ve been working as an SDE ever since.
        <br /><br />
        Outside of software, I enjoy
        <strong>swimming, running, gym workouts</strong>,
        and I’m currently learning <strong>MMA</strong>.
        These keep me disciplined, focused, and mentally sharp,
        both inside and outside work.
      </p>
    </section>

  </main>
</BaseLayout>
