---
import BaseLayout from "../layouts/Layout.astro";
import BlogCard from "../react/BlogCardFeatured";
import { getBlogs } from "../lib/data";

const blogs = await getBlogs();
---

<BaseLayout title="Blogs">
  <main class="container pb-20 pt-10 max-w-236 mx-auto">
    <h1 class="text-4xl heading font-bold mb-10 heading">Blogs</h1>

    <div class="flex flex-col gap-6">
      {blogs.map((blog,ind) => (
        <BlogCard blog={blog} index={ind} client:load />
      ))}
    </div>
  </main>
</BaseLayout>
