---
import BaseLayout from "../layouts/Layout.astro";
import BlogCard from "../react/BlogCardFeatured";
import { sanity } from "../lib/sanity";
import imageUrlBuilder from "@sanity/image-url";
import type { Blog } from "../lib/types";

const builder = imageUrlBuilder(sanity);
const urlFor = (source: any) => builder.image(source).url();

const blogsData = await sanity.fetch(`
  *[_type == "blog"]
  | order(date desc) {
    title,
    description,
    url,
    topic,
    date,
    thumbnail
  }
`);

const blogs : Array<Blog> = blogsData.map((blog: Blog) => ({
  ...blog,
  thumbnail: blog.thumbnail ? urlFor(blog.thumbnail) : ""
}));
---

<BaseLayout title="Blogs">
  <main class="container pb-20 pt-10 max-w-236 mx-auto">
    <h1 class="text-4xl heading font-bold mb-10 heading">Blogs</h1>

    <div class="flex flex-col gap-6">
      {blogs.map((blog,ind) => (
        <BlogCard blog={blog} index={ind} client:load />
      ))}
    </div>
  </main>
</BaseLayout>
