---
import BaseLayout from "../layouts/Layout.astro";
import ProjectCard from "../react/ProjectCard";
import { sanity } from "../lib/sanity";
import imageUrlBuilder from "@sanity/image-url";
import type { Project } from "../lib/types";

const builder = imageUrlBuilder(sanity);
const urlFor = (source: any) =>
  builder.image(source).width(600).quality(80).url();

const projectsData = await sanity.fetch(`
  *[_type == "project"]
  | order(date desc) {
    title,
    description,
    liveUrl,
    githubUrl,
    date,
    featured,
    thumbnail
  }
`);

const projects: Array<Project> = projectsData.map((project: any) => ({
  ...project,
  thumbnail: project.thumbnail ? urlFor(project.thumbnail) : ""
}));
---

<BaseLayout title="Projects">
  <main class="container pb-20 pt-5 max-w-236 mx-auto">
    <h1 class="text-4xl heading font-bold mb-10">My Projects</h1>

    <div class="grid gap-6 md:grid-cols-2">
      {projects.map((project, ind) => (
        <ProjectCard project={project} index={ind} client:load />
      ))}
    </div>
  </main>
</BaseLayout>