---
import BaseLayout from "../layouts/Layout.astro";
import ProjectCards from "../react/ProjectCard";
import { getProjects } from "../lib/data";

const projects = await getProjects();
---

<BaseLayout title="Projects">
  <main class="container pb-20 pt-10 max-w-236 mx-auto">
    <h1 class="text-4xl heading font-bold mb-10">My Projects</h1>

    <div class="grid gap-6 md:grid-cols-2">
      {projects?.map((project,ind) => (
        <ProjectCards project={project} index={ind} client:load />
      ))}
    </div>
  </main>
</BaseLayout>
