---
import type { FeaturedBlogsProps } from "../lib/types";
import BlogCard from "../react/BlogCard";


const { blogs } = Astro.props as FeaturedBlogsProps;
---

<section class="px-4 pt-5 pb-10 max-w-236 xl:pt-10 xl:pb-18 mx-auto">
  <!-- Heading + CTA -->
  <div class="mb-6 flex items-center justify-between">
    <h2 class="text-3xl font-bold dark:text-zinc-100">
      Featured Blogs
    </h2>

    <a
      href="/blogs"
      class="cta"
    >
      View All
      <span class="transition-transform group-hover:translate-x-1">→</span>
    </a>
  </div>

  <!-- Blogs grid -->
  <div class="grid gap-6 md:grid-cols-2">
    {blogs.map((blog, index) => (
      <BlogCard blog={blog} index={index} client:load />
    ))}
  </div>
</section>
