---
import "../styles/global.css";
import AnimatedBackground from "../react/AnimatedBackground";
import Header from "./Header.astro";
import FloatingMenu from "../react/FloatingMenu";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body class="relative min-h-screen min-w-screen bg-white text-zinc-900 overflow-x-hidden">

    <!-- Background -->
    <AnimatedBackground
      client:load
      light={{ lineColor: "#f0f0f0", gridSize: "6rem 4rem", glowColor: "#C9EBFF" }}
      dark={{
        dotColor: "#ffffff11",
        lineColor: "#ffffff10",
        bgColor: "#0b1226",
        dotSize: "20px"
      }}
      variant="grid-glow"
    />

    <!-- Main content -->
    <main class="min-h-screen relative">
      <!-- Header -->
      <Header />

      <!-- Page slot -->
      <slot />
      <FloatingMenu client:load/>
    </main>

  </body>
</html>
